.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 5%;
}

.button{
    width: 15%;
    height: auto;
    border: 3px solid black;
}

#papel{
    width: 10%;
    height: auto;
}

#result{
    font-size: 200%;
}
#result{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}